<mat-grid-list cols="3" rowHeight="1:1">
  <div class="container">
    <mat-grid-tile>
      <button
        mat-raised-button
        color="primary"
        [routerLink]="['/list-libros/']"
      >
        <mat-icon>book</mat-icon>
        <mat-card>Nuestros Libros</mat-card>
      </button>
    </mat-grid-tile>
  </div>
  <div class="container">
    <mat-grid-tile>
      <button
        mat-raised-button
        color="primary"
        [routerLink]="['/list-socios/']"
      >
        <mat-icon>face</mat-icon>
        <mat-card>Usuarios Leales</mat-card>
      </button>
    </mat-grid-tile>
  </div>
  <div class="container">
    <mat-grid-tile>
      <button
        mat-raised-button
        color="primary"
        [routerLink]="['/list-prestamos/']"
      >
        <mat-icon>favorite</mat-icon>
        <mat-card>Reserva el tuyo</mat-card>
      </button>
    </mat-grid-tile>
  </div>
</mat-grid-list>
