<div class="form">
  <mat-card class="text-center">
    <mat-card-title>Añadir libro</mat-card-title>
    <mat-card-content>
      <form [formGroup]="createLibro" (ngSubmit)="addLibro()">
        <div class="container">
          <div class="row row-cols-2">
            <div class="col">
              <mat-form-field appearance="fill">
                <mat-label>Titulo</mat-label>
                <input matInput formControlName="title" />
                <mat-error *ngIf="er.invalid">{{
                  getErrorMessage()
                }}</mat-error>
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field appearance="fill">
                <mat-label>Genero</mat-label>
                <input matInput formControlName="genre" />
                <mat-error *ngIf="er.invalid">{{
                  getErrorMessage()
                }}</mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <mat-form-field appearance="fill">
              <mat-label>Descripción</mat-label>
              <input matInput formControlName="infor" />
              <mat-error *ngIf="er.invalid">{{ getErrorMessage() }}</mat-error>
            </mat-form-field>
          </div>
          <div class="row row-cols-2">
            <div class="col">
              <mat-form-field appearance="fill">
                <mat-label>Autor</mat-label>
                <input matInput formControlName="author" />
                <mat-error *ngIf="er.invalid">{{
                  getErrorMessage()
                }}</mat-error>
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field appearance="fill">
                <mat-label>Portada</mat-label>
                <input matInput formControlName="front" />
                <mat-error *ngIf="er.invalid">{{
                  getErrorMessage()
                }}</mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <mat-form-field appearance="fill" floatLabel="always">
              <mat-label>Amount</mat-label>
              <input
                matInput
                type="number"
                class="example-right-align"
                placeholder="0"
                formControlName="price"
              />
              <span matSuffix>.00€</span>
              <mat-error *ngIf="er.invalid">{{ getErrorMessage() }}</mat-error>
            </mat-form-field>
          </div>
          <div class="row row-cols-2">
            <div class="col">
              <button mat-button color="warn" routerLink="/list-libros">
                Volver
              </button>
            </div>
            <div class="col">
              <button type="submit" mat-button class="btn-success boton">
                Guardar
              </button>
            </div>
          </div>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
