.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.greens {
  color: green;
}

.spin {
  display: flex;
  z-index: 1;
  margin: 0 auto;
}

.boton {
  display: flex;
  margin: 0 auto;
}
