<nav class="navbar navbar-dark bg">
  <div class="container">
    <a class="navbar-brand" routerLink="/inicio">Home</a>
    <a class="navbar-brand" routerLink="/list-libros">Libros</a>
    <a class="navbar-brand" routerLink="/list-socios">Socios</a>
    <a class="navbar-brand" routerLink="/list-prestamos">Prestamos</a>
  </div>
</nav>
