<div class="container">
  <div class="card mt-4 bgCard">
    <div class="card-body">
      <span class="h3">Listado de Socios</span>
      <button class="btn bg float-end btn-lg" routerLink="/create-socios" mat-raised-button>
        Add
      </button>
      <h3 style="margin-top: 30px" *ngIf="socios.length == 0">
        No hay datos. Por favor añada algun socio.
      </h3>
      <table
        *ngIf="socios.length > 0"
        class="table table-striped table-active mt-3"
      >
        <thead>
          <tr>
            <th>Name</th>
            <th>Surname</th>
            <th>Age</th>
            <th>Email</th>
            <th>Delete</th>
            <th>Edit</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let socio of socios">
            <td>{{ socio.name }}</td>
            <td>{{ socio.surname }}</td>
            <td>{{ socio.age }}</td>
            <td>{{ socio.email }}</td>
            <td class="space">
              <button
                (click)="deleteSocio(socio.id)"
                mat-raised-button
                class="text-danger"
              >
                <mat-icon>delete</mat-icon>
              </button>
            </td>
            <td>
              <button
                mat-raised-button
                [routerLink]="['/edit-socios/', socio.id]"
              >
                <mat-icon>edit</mat-icon>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
