<div class="container">
  <div class="card mt-4 bgCard">
    <div class="card-body">
      <span class="h3">Listado de Prestamos</span>
      <button class="btn float-end btn-lg" routerLink="/create-prestamos" mat-raised-button>
        Add
      </button>
      <h3 style="margin-top: 30px" *ngIf="prestamos.length == 0">
        No hay datos. Por favor, pida un libro prestado.
      </h3>
      <table
        *ngIf="prestamos.length > 0"
        class="table table-striped table-active mt-3"
      >
        <thead>
          <th>Title</th>
          <th>Name</th>
          <th>Fecha del Prestamo</th>
          <th>Devolver</th>
        </thead>
        <tbody>
          <tr *ngFor="let prestamo of prestamos">
            <td>{{ prestamo.title }}</td>
            <td>{{ prestamo.name }}</td>
            <td>{{ prestamo.fechaPrestamo.toDate() | date: "d/M/yy" }}</td>
            <td>
              <button
                (click)="actualizarPrestamo(prestamo.id, prestamo.libroId)"
                mat-raised-button
              >
                <mat-icon>bookmark</mat-icon>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
