<div class="form">
  <mat-card class="text-center">
    <mat-card-title>Añadir socio</mat-card-title>
    <mat-card-content>
      <form [formGroup]="editSocio" (ngSubmit)="editando()">
        <div class="container">
          <div class="row row-cols-2">
            <div class="col">
              <mat-form-field appearance="fill">
                <mat-label>Name</mat-label>
                <input matInput formControlName="name" />
                <mat-error *ngIf="er.invalid">{{
                  getErrorMessage()
                }}</mat-error>
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field appearance="fill">
                <mat-label>Surname</mat-label>
                <input matInput formControlName="surname" />
                <mat-error *ngIf="er.invalid">{{
                  getErrorMessage()
                }}</mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <mat-form-field appearance="fill">
              <mat-label>Age</mat-label>
              <input matInput formControlName="age" />
              <mat-error *ngIf="er.invalid">{{ getErrorMessage() }}</mat-error>
            </mat-form-field>
          </div>
          <div class="row">
            <mat-form-field appearance="fill" floatLabel="always">
              <mat-label>Email</mat-label>
              <input
                matInput
                placeholder="adri@example.com"
                formControlName="email"
              />
              <mat-error *ngIf="er.invalid">{{ getErrorMessage() }}</mat-error>
            </mat-form-field>
          </div>
          <div class="row row-cols-2">
            <div class="col">
              <button mat-button color="warn" routerLink="/list-socios">
                Volver
              </button>
            </div>
            <div class="col" *ngIf="loading">
              <button mat-button class="btn-success boton" disabled>
                Guardar
              </button>
              <mat-spinner class="spin" diameter="20"></mat-spinner>
            </div>
            <div class="col" *ngIf="!loading">
              <button type="submit" mat-button class="btn-success loading">
                Guardar
              </button>
            </div>
          </div>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
