<div class="container">
  <div class="card mt-4 bgCard">
    <div class="card-body">
      <span class="h3">Listado de Libros</span>
      <button
        class="btn bg float-end btn-lg"
        routerLink="/create-libros"
        mat-raised-button
      >
        Add
      </button>
      <h3 style="margin-top: 30px" *ngIf="libros.length == 0">
        No hay datos. Por favor añada algun libro.
      </h3>

      <div class="row" *ngIf="libros.length > 0">
        <div class="col" *ngFor="let libro of libros">
          <mat-card>
            <mat-card-header>
              <mat-card-title
                >{{ libro.title }} || {{ libro.author }}</mat-card-title
              >
              <mat-card-subtitle
                >{{ libro.genre }} || {{ libro.price }}</mat-card-subtitle
              >
            </mat-card-header>
            <img
              mat-card-image
              src="{{ libro.front }}"
              alt="Photo of the book"
            />
            <mat-card-actions>
              <button
                (click)="deleteLibro(libro.id)"
                mat-raised-button
                class="text-danger"
              >
                Delete
              </button>
              <button
                mat-raised-button
                [routerLink]="['/edit-libros/', libro.id]"
              >
                Edit
              </button>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>
