@use "@angular/material" as mat;

@include mat.core();

$my-primary: mat.define-palette(mat.$deep-purple-palette, 300);
$my-accent: mat.define-palette(mat.$indigo-palette, A200, A100, A400);

$my-theme: mat.define-light-theme(
  (
    color: (
      primary: $my-primary,
      accent: $my-accent,
    ),
  )
);

@include mat.all-component-themes($my-theme);
