<div class="form">
  <mat-card class="text-center">
    <mat-card-title>Hacer prestamo</mat-card-title>
    <mat-card-content>
      <h3 style="margin-top: 30px" *ngIf="titles.length == 0">
        No hay libros para prestar, por favor sea paciente hasta que los
        devuelvan.
      </h3>
      <form
        *ngIf="titles.length > 0"
        [formGroup]="createPrestamo"
        (ngSubmit)="addPrestamo()"
      >
        <div class="container">
          <div class="row row-cols-2">
            <div class="col">
              <mat-form-field appearance="fill">
                <mat-label>Titulo</mat-label>
                <mat-select [formControl]="tidtulo">
                  <mat-option
                    *ngFor="let title of titles"
                    [value]="[title.title, title.id]"
                  >
                    {{ title.title }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field appearance="fill">
                <mat-label>Socio</mat-label>
                <mat-select [formControl]="nameid">
                  <mat-option *ngFor="let name of names" [value]="name.name">{{
                    name.name
                  }}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="col">
            <button type="submit" mat-button class="btn-success boton">
              Reservar
            </button>
          </div>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
